* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 90 0;
}

#home > div {
  width: 30%;
}

.left-section {
  font-size: 2.5rem;
  color: white;
  margin: 70;
  align-items: center;
}

.left-section #click-me {
  background-color: blueviolet;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10 15;
  margin: 50 0;
  text-align: center;
  cursor: pointer;
}


.color {
  color: blueviolet;
}

.right-section img {
  width: 90%;
  height: 70%;
  
  object-fit: cover;
  padding: 5px;
  margin: 70, 150;
  box-shadow: 10px 10px 20px rgba(109, 146, 30, 0.5);
}

#element {
  color: brown;
}

.one {
  height: 1.2px;
  margin: 40 84;
}

.Second {
  max-width: 150vw;
  margin: 120;
  background-color:rgb(13, 14, 14);
}
#about,
.two {
  color: rgb(169, 203, 32);
  display: flex;
  justify-content: center;
  align-items: center;
}

.two {
  margin: 0 500;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  margin: 30;
}

.about-image img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 20px;
  margin-bottom: 30;
  object-fit: cover;
  padding: 3px;
  border: 2px solid rgb(0, 183, 255);
}

.about-details {
  max-width: 600px;
}

.about-details p {
  margin-bottom: 20px;
  color: rgb(72, 67, 67);
  font-size: 16;
  word-spacing: 4px;
}

.about-details ul {
  list-style: none;
  padding: 0;
  color: white;
}

.about-details ul li {
  margin-bottom: 10px;
  color: white;
}

.about-details ul li strong {
  display: inline-block;
  width: 80px;
  color: white;
}

.about-details ul li .detail {
  color: rgb(151, 177, 120);
  font-weight: bold;
}

#resume {
  height: 1.2px;
  margin: 40 84;
}

.third {
  max-width: 80vw;
  margin: 120;
  flex-direction: column;
  align-items: center;
}

.resume-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50;
}

.resume-para {
  margin-bottom: 100;
}

.fourth {
  max-width: 80vw;
  margin: 120;
}

#work {
  color: rgb(239, 237, 240);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 38;
  font-weight: bold;
  font-family: "Poppins", Times, serif;
}

.four {
  height: 1.2px;
  margin: 15 80;
  margin-bottom: 50;
  border: 2px solid rgb(163, 183, 174);
}

.experience-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.experience-section {
  background-color: rgb(185, 175, 175, 0.1);
  flex: 1 1 calc(33.333% - 40px);
  border: none;
  padding: 20px;
  box-sizing: border-box;
  min-width: 250;
}

.date {
  color: rgb(236, 164, 77);
  font-size: 32;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.position {
  font-weight: normal;
  font-size: 20;

}

.company-name {
  margin-bottom: 15px;
  margin-top: 2px;
}
.brief {
  margin-bottom: 15;
  color: grey;
}

.details {
  list-style-position: none;
  padding-left: 10px;
  margin-left: 20px;
  color: rgb(241, 239, 248,0.8);
}
.details li {
  position: relative; 
  padding-left: 0.1em; 
  margin-bottom: 10px; 
  line-height: 1.5; 
}


.details li:before {
  
  color: #333;
  position: absolute; 
  left: 0; 
  width: 0.1em;
  text-align: center; 
  vertical-align: top;
  line-height: 1.5;
}

.education-heading {
  min-width: 80vw;
  margin: 10 0;
  margin-top: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 36;
  font-family: "Poppins";
  font-weight: bold;
}

.five {
  height: 1.2px;
  margin: 5 500;
  margin-bottom: 30;
  border: 2px solid rgb(57, 93, 156);
  font-family: "Poppins";
}

.education-section {
  min-width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.education-section > div {
  width: 30%;
}

.education-details {
  background-color: rgb(28, 26, 26);
  padding: 20 20;
  border-radius: 1%;
  border: none;
}

.year {
  font-size: 28;
  font-weight: bolder;
  color: rgb(250, 250, 97);
  margin-bottom: 10px;
}

.education-qualification {
  font-size: 20;
  color: rgb(223, 222, 222);
  margin-bottom: 10px;
  font-weight: bold;
}

.university {
  font-size: 18;
  color: rgb(156, 103, 39);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 20;
  font-weight: bold;
}

.grade {
  font-size: 16px;
  color: white;
}


.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200;
  margin-bottom: 100;
}

.contact-me {
  color: aliceblue;
  font-weight: bolder;
  font-size: 42;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.pointing {
  margin-top: 30;
  color: aliceblue;
  font-size: 18;
}

.contact {
  max-width: 80vw;
  margin: 120px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-container {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  gap: 40px; 
  align-items: center; 
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.icon .info {
  font-size: 20px;
  text-align: center;
  color: aliceblue;
}

.icon i {
  font-size: 38px;
  margin-bottom: 10px;
  background-color: rgb(235, 229, 229);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#phone {
  color: rgb(46, 158, 70);
}

#email {
  color: rgb(129, 43, 159);
}

#linkedin {
  color: rgb(10, 102, 194);
}


.doubt
{
  min-width:80vw;
  margin: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.query
{
  display: inline;
  margin: 10 5;
  align-items: center;
}

.docs{
  font-size: 26;
  color: rgb(238, 236, 232);
  font-family: "Poppins";
}

#questions{
  padding: 10 20;
  margin: 5;
  border-radius: 50px;
  color: white;
  background-color: blueviolet;
  border:none;
  cursor: pointer;
  font-size: 16px;

}
.copy-right {
  min-width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50;
  color: rgb(225, 196, 28);
  margin: 30 0;
}


